<template>

  <div >
    <div>
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-card>
          <iframe :src="frame" width="500px" height="400px" ></iframe>
        </v-card>
      </v-dialog>
    </div>

    <img :src="require(`@/assets/${uri}.png`)" @click="switchs()" v-if="!affiche" width="50px" class="tourne"/>
    <img :src="require(`@/assets/${uridead}.png`)" width="50px" v-if="affiche"/>

  </div>
</template>

<script>
    export default {
        name: "amongus",
        props:{
          frame: String,
          uri: String,
          uridead: String
        },
        data () {
            return {
                dialog: false,
                affiche: false
            }
        },

        methods: {
          switchs(){
              if (this.uri === "blue"){
                  this.dialog = true
                  return
              }
              this.dialog = true
              this.affiche = true
              if (this.uri === "jaune"){
                  this.$store.commit('localStorage/storejaune', true)
              }
              else if (this.uri === "green"){
                  this.$store.commit('localStorage/storegreen', true)
              }
          }
        },
        mounted() {
            if (this.uri === "jaune"){
                this.affiche = this.$store.state.localStorage.jaune
            }
            else if (this.uri === "green"){
                this.affiche = this.$store.state.localStorage.green

            }

        }
    }
</script>

<style>
  .tourne {
    transform: rotate(-45deg); /* Équivalent à rotateZ(45deg) */
  }
</style>
