<template>
  <div>
    <v-app>
      <Navbar></Navbar>
      <Nuxt />
    </v-app>
  </div>
</template>

<script>
  import Navbar from "../components/Navbar";
  export default {
      components:{
          Navbar,
      }
  }
</script>

<style lang="less">
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#header{
  position: absolute;
  width: 100%;
  height: calc(~"100vh - 128px");
  background-image: url("../assets/300757.jpg");
}

div.dark{
  width: 100%;
  height: calc(~"100vh - 128px");
  position: relative;
  background-color: rgba(0,0,0,0.3);
  background-position: 50% 0%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
