<template>

  <div class="container">
    <header id="header">
      <div class="dark"></div>
    </header>
    <div>
      <!-- carte meteo -->

      <v-container fluid>
        <div>
          <v-card
            elevation="21"
            outlined
            style="margin-right: 10px"
          ><v-dialog
            v-model="dialog"
            width="500"
          >
          </v-dialog>
            <div id="carte_78fc140b34a219f1c86c538240c3b501">
              <v-card-title>Carte du jour</v-card-title>
              <a href="http://www.mymeteo.info/r/france_64" title="climat France">climat France</a>
              <script type="text/javascript">
                  (function () {
                      var my = document.createElement("script");
                      my.type = "text/javascript";
                      my.async = true;
                      my.src = "https://services.my-meteo.com/cartes/js?pays=france&periode=24&x=450&y=430&d=0&id=78fc140b34a219f1c86c538240c3b501";
                      var z = document.getElementsByTagName("script")[0];
                      z.parentNode.insertBefore(my, z);
                  })();
              </script>
            </div>
          </v-card>
          <!-- carte meteo -->

          <v-card
            elevation="21"
            outlined
            style="margin-right: 10px"
          >
            <v-card-title>Carte du lendemain</v-card-title>
            <div id="carte_5c3990a3cedb039fc8be508242ce3426">

              <a href="http://www.mymeteo.info/r/france_64" title="pluie et temps France">pluie et temps France</a>
              <script type="text/javascript">
                  (function () {
                      var my = document.createElement("script");
                      my.type = "text/javascript";
                      my.async = true;
                      my.src = "https://services.my-meteo.com/cartes/js?pays=france&periode=48&x=450&y=430&d=0&id=5c3990a3cedb039fc8be508242ce3426";
                      var z = document.getElementsByTagName("script")[0];
                      z.parentNode.insertBefore(my, z);
                  })();
              </script>
            </div>
          </v-card>
        </div>
        <div>
          <v-card
            elevation="21"
            outlined>
            <v-card-title>Prevision Surf Pyrenees-Atlantiques</v-card-title>
            <iframe title="Prévisions de vagues et surf report à Biarritz, Pyrénées-Atlantiques, France" width="100%"
                    height="600px" src="https://www.surf-sentinel.com/embed/currentdata/84/7"></iframe>
          </v-card>
        </div>
      </v-container>
      <!-- carte meteo -->
    </div>
  </div>
</template>

<script>
    export default {
        data () {
            return {
                dialog: false
            }
        }
    }
</script>

<style lang="less">
  .container {
    min-height: calc(~"100vh - 128px");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 !important;
  }

  .title {
    font-family: 'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
</style>
