<template>

    <v-row
      align="center"
      justify="center"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        <h1 class="display-1 font-weight-thin mb-4">
          Vuetify
        </h1>
        <h4 class="subheading">
          Build your application today!
        </h4>
      </v-col>
    </v-row>

</template>

<script>
    export default {
        data () {
            return {
                dialog: false
            }
        }
    }
</script>

<style>

</style>
